/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@backgroundSearch:"assets/images/background-1.jpg";

body
{
    background: url(@backgroundSearch);
    background-size:cover;
    background-repeat: no-repeat;
}