<div class="container col-12 col-sm-12 col-md-12 col-lg-8 search">
  <div class="row tabTitle desk">
      <ul>
        <li>passagens aéreas</li>
       </ul> 
  </div>
  <div class="row ">
    <div class="container col-12 searchForm">
      <div class="row desk">
        <div class="col-12 col-md-8">
          <h1>Encontre os melhores preços e boa viagem!</h1>
          <input type="radio"><label>&nbsp;  Ida e Volta</label>

        </div>
        <div class="col-4 text-right">
          <img src="assets/images/econometro.png" alt="economia" title="economia" class="econ"/>
        </div>
      </div>
      <div class="row mob">
        <div class="col-12">
            <input type="radio"><label>&nbsp;  Ida e Volta</label>
        </div>
        
      </div>
      <div class="row no-gutters">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 padding-right">
          <label class="mob">Informe sua origem</label>
          <label class="desk">Origem</label>
          <input type="text" placeholder="Cidade ou aeroporto" class="form-control">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6  padding-left">
            <label>Destino</label>
            <input type="text" placeholder="Cidade ou aeroporto" class="form-control">
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 padding-right">
          <div class="row no-gutters">
            <div class="col-6 padding-right-small">
              <label>Data de Ida</label>
              <input type="text" placeholder="Data de Ida"  class="form-control">
            </div>
            <div class="col-6 padding-left-small">
              <label>Data de Volta</label>
              <input type="text"  placeholder="Data de Volta" class="form-control">
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 padding-left">
          <div class="row">
            <div class="col-4">
              <label>Adultos</label>
              <div class="dropdown">
                  <button class="btn btn-search btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nenhum
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">1 adulto</a>
                    <a class="dropdown-item" href="#">2 adultos</a>
                    <a class="dropdown-item" href="#">3 adultos</a>
                  </div>
                </div>
            </div>
            <div class="col-4">
              <label>Crianças</label>
              <div class="dropdown">
                  <button class="btn btn-search btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nenhum
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">1 adulto</a>
                    <a class="dropdown-item" href="#">2 adultos</a>
                    <a class="dropdown-item" href="#">3 adultos</a>
                  </div>
                </div>
            </div>
            <div class="col-4">
              <label>Bebês</label>
              <div class="dropdown">
                  <button class="btn btn-search btn-block no-gutters dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nenhum
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">1 adulto</a>
                    <a class="dropdown-item" href="#">2 adultos</a>
                    <a class="dropdown-item" href="#">3 adultos</a>
                  </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="btn btn-success btn-block">
      Pesquisar
    </div>
  </div>
</div>