@backgroundColor: #006cc6;

.search
{
    padding-top:100px;
}

.tabTitle ul
{
    display: block;
    list-style-type: none;;
    padding:0;
    margin:0;
    
}

.tabTitle ul li
{
    color:#fff;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    background-color:blue;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    padding-top:10px;
    width:auto;
    margin:0;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}

.tabTitle ul li, .searchForm
{
    background-color: @backgroundColor;
    
}

.searchForm
{
    padding-left:20px;
    padding-right:25px;
    padding-bottom:5px;
    border-top-right-radius: 5px;
}


.searchForm h1
{
    padding-top:25px;
    padding-bottom:30px;
    font-weight:bold;
    color:#fff;
    font-weight:bold;
    font-size:24px;
}

.econ
{
    padding-top: 25px;
}

.btn-search
{
    background-color:#01478c;
    color: #fff;
    font-weight:bold;
}

label
{
    color:#fff;
    font-weight:bold;
  
}

.btn-success
{
    color:#fff;
    font-weight:bold;
    font-size:20px;
    background-color:#49b000;
    border-top-left-radius:0;
    border-top-right-radius:0;
}


label
{
    margin-bottom:2.5px;
}
input
{
    margin-bottom: 20px;
}
input[type="Text"]
{
    color:#1a70bd;
    font-weight: bold;
}

@media (max-width: 767px)
{
    .desk
    {
        display:none;
    }
}

@media (min-width: 768px)
{
    .padding-right
    {
        padding-right: 12.5px;
    }
    .padding-left
    {
        padding-left: 12.5px;
    }
    
    .mob
    {
        display:none;
    }

    
}

.padding-right-small
    {
        padding-right: 7.5px;
    }
    .padding-left-small
    {
        padding-left: 7.5px;
    }